<div class="modal fade" id="modalUpload">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">アップロード</h4>
			</div>
			<div class="modal-body">
				<div id="drag-area"
					style="width: 100%; height: 300px; border: 1px dashed #777777; text-align: center; padding-top: 100px;">
					<p>アップロードするファイルをドロップ</p>
					<p>または</p>
					<div class="btn-group">
						<form id="fileForm" onsubmit="return false;">
							<input type="file" name="file" multiple="multiple"
								style="display: none" onchange="normalSelectFile()">
							<button id="file-select" class="btn btn-flat btn-primary">ファイルを選択</button>
						</form>
					</div>
				</div>
                <div class="panel hide" id="panelSelectedFile">
                  <div class="panel-body clearfix">
                    <button type="button" id="btnModalUpload" class="btn btn-success pull-right"><i class="fa fa-upload"></i> アップロード</button>
                    <span id="selectedFileName"></span>
                  </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left"
					data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
  
	<script>
	
		var file;
	
		// アップロードファイル選択時の処理
		$('#file-select').click(function() {
			$('input[type="file"]').click();
		});
	
		//アップロードファイルドロップ時の処理
		$('#drag-area').on('drop', function(e) {
			// デフォルトの挙動を停止
			e.preventDefault();
	
			// ファイル情報を取得
			var files = e.originalEvent.dataTransfer.files;
	
			dropDownSelectFile(files);
	
		}).on('dragenter', function() {
			// デフォルトの挙動を停止
			// $("#drag-area").css("background-color", "");
			return false;
		}).on('dragover', function() {
			// $("#drag-area").css("background-color","#3366EE");
			return false;
		});
		
		// アップロードボタンクリック時
		$('#btnModalUpload').click(function(){
			upload();
		});
		
		// 標準のファイル選択時
		var normalSelectFile = function() {
			file = $('input[name="file"]').get(0).files[0];
			showSelectedFile();
		};
		
		// ドラッグアンドドロップ時
		var dropDownSelectFile = function (files) {
			
			if(files.length > 1){
				alert("アップロードするファイルは１つのみです");
				return;
			}
			
			file = files[0];
			showSelectedFile();
		};
		
		var showSelectedFile = function(){
			$('#panelSelectedFile').removeClass("hide");
			$('#selectedFileName').text(file.name);
		};
	
		//アップロード処理 
		var upload = function(){
			var fd = new FormData();
			fd.append("files[]",file);
			$.ajax({
				url : common.getAppRoot() + "/" + $('#modalUpload').attr('data-url'),
				method : "POST",
				data : fd,
				processData : false,
				contentType : false,
				cache : false,
				success : function(data, status, jqXHR) {
					if (data['result'] == '0') {
						window.location.reload();
					} else {
						alert('Error!!');
					}
				},
				error : function(jqXHR, status, error) {
					alert('通信に失敗');
				}
			});
		};
	</script>
</div><!-- /.modal -->
