<div class="modal fade" id="modalApply">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">承認済み書籍</h4>
			</div>
			<div class="modal-body">
				<table id="applyTable" class="table table-bordered table-striped">
					<thead>
						<tr class="warning">
							<th></th>
							<th>申請者</th>
							<th>申請日</th>
							<th>承認日</th>
							<th>ISBN</th>
							<th>種類</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
					<tfoot>
						<tr class="warning">
							<th></th>
							<th>申請者</th>
							<th>申請日</th>
							<th>承認日</th>
							<th>ISBN</th>
							<th>種類</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left"
					data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	<script>
		$("tbody").on('click','button.btn-select-apply-book',function() {
			var $tr = $(this).closest('tr');
			$('#isbn').val($tr.find('td.isbn').text());
			$("#applyDeleteId").val($tr.data("id"));
			$("#modalApply").modal('hide');
		});
	</script>
</div><!-- /.modal -->