<div class="modal fade" id="createModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">書籍登録</h4>
			</div>
			<div class="modal-body">
				<div class="box box-primary">
					<!-- form start -->
					<form role="form" class="form-horizontal">
						<div class="box-body">
						<!--
							<div class="row">
								<div class="col-sm-12">
									<div class="pull-right">
										<a href="javascript:void(0)" id="applyBook">承認済み書籍から選ぶ</a>
									</div>
								</div>
							</div>
						-->
							<div class="form-group">
								<label for="isbn" class="col-sm-2 control-label">ISBN</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="isbn" placeholder="1234567890" name="isbn">
									<p class="text-danger isbn"></p>
								</div>
								<button type="button" class="btn btn-primary" id="btnAutoAcqire">自動取得</button>
							</div>
							<div class="form-group">
								<label for="bookName" class="col-sm-2 control-label">書籍名</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="bookName" placeholder="書籍名" name="name">
								</div>
							</div>
							<div class="form-group">
								<label for="url" class="col-sm-2 control-label">URL</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="url" placeholder="http://xxxxx.com">
								</div>
							</div>
							<div class="form-group">
								<label for="publisher" class="col-sm-2 control-label">出版社名</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="publisher" placeholder="出版社名">
								</div>
							</div>
							<div class="form-group">
								<label for="author" class="col-sm-2 control-label">著者</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="author" placeholder="著者">
								</div>
							</div>
							<div class="form-group">
								<label for="recommend" class="col-sm-2 control-label">おすすめ</label>
								<div class="col-sm-2">
									<input type="checkbox" id="recommend" name="recommend" value="1">
								</div>
							</div>
							<div class="form-group place">
								<label for="shelfList" class="col-sm-2 control-label">保管場所</label>
								<div class="col-sm-10">
									<select id="shelfList" name="shelfList" class="form-control" style="font-family: 'FontAwesome';">
										<option value=0>---選択してください---</option>
									</select>
									<p class="text-warning">電子書籍の場合は選択しないでください。</p>
								</div>
							</div>
							<div class="form-group amount">
								<label for="amount" class="col-sm-2 control-label">数量</label>
								<div class="col-sm-4">
									<input type="number" class="form-control" id="amount" step="1" min="1" required="required">
								</div>
							</div>
							<input type="hidden" id="eventType">
							<input type="hidden" id="applyDeleteId">
						</div><!-- /.box-body -->
					</form>
				</div><!-- /.box -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-success" id="btnSave">保存</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
