<div class="modal fade" id="modalHistory">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">貸出履歴</h4>
			</div>
			<div class="modal-body">
				<div class="box box-primary">
					<div class="box-body">
						<table id="example2" class="table table-bordered table-striped">
							<thead>
								<tr class="warning">
									<th>利用者</th>
									<th>貸出日</th>
									<th>返却日</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
							<tfoot>
								<tr class="warning">
									<th>利用者</th>
									<th>貸出日</th>
									<th>返却日</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
				<!-- /.box -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left"
					data-dismiss="modal">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->