<div class="modal fade" id="rentalModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">貸出登録</h4>
			</div>
			<div class="modal-body">
				<div class="box box-primary">
					<!-- form start -->
					<form role="form" class="form-horizontal"">
						<div class="box-body">
						    <input id="rental-id" type="hidden"></input>
							<div class="form-group">
								<label for="isbn" class="col-sm-3 control-label">ISBN</label>
								<div class="col-sm-9 label-value" id="lendIsbn"></div>
							</div>
							<div class="form-group">
								<label for="bookName" class="col-sm-3 control-label">書籍名</label>
								<div class="col-sm-9 label-value" id="lendBookName"></div>
							</div>
							<!--
							<div class="form-group">
								<label for="publisher" class="col-sm-3 control-label">出版社名</label>
								<div class="col-sm-9 label-value" id="lendPublisher"></div>
							</div>
							<div class="form-group">
								<label for="author" class="col-sm-3 control-label">著者</label>
								<div class="col-sm-9 label-value" id="lendAuthor"></div>
							</div>
							<div class="form-group device hide">
								<label for="place" class="col-sm-3 control-label">利用端末</label>
								<div class="col-sm-9 label-value" id="lendDevice"></div>
							</div>
							-->
							<div class="form-group">
								<label for="returnPlanDate" class="col-sm-3 control-label">返却予定日</label>
								<div class="col-sm-9">
									<input type="text" class="form-control datetimepicker" id="returnPlanDate"
										placeholder="1900/01/01" >
								</div>
							</div>
						</div>
						<!-- /.box-body -->
					</form>
				</div>
				<!-- /.box -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-success" id="btnLend">登録</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
	<script>
		// 日付入力
		$(function() {
 			$('#rentalDate,#returnPlanDate').datetimepicker({
 				timepicker: false,
 				format: 'Y/m/d'
 			});
 		});
		
		// 登録ボタンイベント
		var click_flg = true;
		$("#btnLend").click(function() {
			if(click_flg){
				click_flg = false;
				if($('#returnPlanDate').val() != ''){
					//非同期通信
					$.ajax({
						type     : 'POST',
						url      : common.getAppRoot() + '/rental',
						data     : {"id" : $("#rental-id").val(),
									"returnPlanDate" : $("#returnPlanDate").val().replace(/\//g,"")},
						dataType : 'json',
						cache    : false,
						success  : function(data, status, jqXHR) {
							if(data["result"] === 0){
								// 貸出に成功
								lendTargetRow.find('td.lendDate').text(data['rentalDate']);
								lendTargetRow.find('td.returnPlanDate').text($("#returnPlanDate").val());
								lendTargetRow.find('td.user').text(data['userName']);
								lendTargetRow.find('td button.btnLend').attr('data-id',data['id']);
								lendTargetRow.find('td button.btnLend').text('返却');
								lendTargetRow.find('td button.btnLend').addClass('btnReturn');
								lendTargetRow.find('td button.btnLend').addClass('btn-warning');
								lendTargetRow.find('td button.btnLend').removeClass('btn-success');
								lendTargetRow.find('td button.btnLend').removeClass('btnLend');
								common.notifySuccess('書籍を貸出しました');
								$("#rentalModal").modal('hide');
							}else if(data["result"] === 1){
								// 貸出に失敗
								common.notifyError(data["msg"]);
							}else{
								// システムエラー
								common.notifyError('通信に失敗');
							}
							click_flg = true;
						},
						error: function(jqXHR, status, error) {
							common.notifyError('通信に失敗');
							click_flg = true;
						}
					});
				}else{
					common.notifyError('日付を入力してください');
				}
			}
		});
	</script>
</div>
<!-- /.modal -->