<div class="modal fade" id="modalReturnForm">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">返却登録</h4>
			</div>
			<div class="modal-body">
				<div class="box box-primary">
					<!-- form start -->
					<form role="form" class="form-horizontal"">
						<div class="box-body">
						    <input id="return-id" type="hidden"></input>
							<div class="form-group">
								<label for="isbn" class="col-sm-3 control-label">ISBN</label>
								<div class="col-sm-9 isbn label-value" style="padding-top:7px;"></div>
							</div>
							<div class="form-group">
								<label for="bookName" class="col-sm-3 control-label">書籍名</label>
								<div class="col-sm-9 bookName label-value"></div>
							</div>
							<div class="form-group">
								<label for="publisher" class="col-sm-3 control-label">出版社名</label>
								<div class="col-sm-9 publisher label-value"></div>
							</div>
							<div class="form-group">
								<label for="author" class="col-sm-3 control-label">著者</label>
								<div class="col-sm-9 author label-value"></div>
							</div>
							<div class="form-group">
								<label for="place" class="col-sm-3 control-label">利用端末</label>
								<div class="col-sm-6 place label-value"></div>
								<!--
									<div class="col-sm-3 checkbox hide">
										<label>
										<input type="checkbox" value="1"> 端末から削除
										</label>
									</div>
								-->
							</div>
						</div><!-- /.box-body -->
					</form>
				</div><!-- /.box -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">キャンセル</button>
				<button type="button" class="btn btn-success" id="btnReturn">返却</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	<script>
		$("#btnReturn").click(function() {
			var rentalId = returnTargetRow.find("button.btnReturn").attr("data-id");
			//非同期通信
			$.ajax({
				type     : 'PUT',
				url      : common.getAppRoot() + '/rental/return/'+ rentalId,
				cache    : false,
				success  : function(data, status, jqXHR) {
					if(data["result"] === 0){
						// 貸出に成功
						returnTargetRow.find('td.lendDate').text('');
						returnTargetRow.find('td.returnPlanDate').text('');
						returnTargetRow.find('td.user').text('');
						returnTargetRow.find('td button.btnReturn').attr('data-id','');
						returnTargetRow.find('td button.btnReturn').text('貸出');
						returnTargetRow.find('td button.btnReturn').addClass('btnLend');
						returnTargetRow.find('td button.btnLend').addClass('btn-success');
						returnTargetRow.find('td button.btnLend').removeClass('btn-warning');
						returnTargetRow.find('td button.btnReturn').removeClass('btnReturn');
						common.notifySuccess('書籍を返却しました');
						$("#modalReturnForm").modal('hide');
					}else if(data["result"] === 1){
						// 貸出に失敗
						common.notifyError(data["msg"]);
					}else{
						// システムエラー
						common.notifyError('通信に失敗');
					}
				},
				error: function(jqXHR, status, error) {
					common.notifyError('通信に失敗');
				}
			});
		});
	</script>
</div><!-- /.modal -->