<div class="modal fade" id="modalSearchForm">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">絞り込み</h4>
                  </div>
                  <div class="modal-body">
                      <div class="box box-primary">
                          <!-- form start -->
                          <form role="form">
                              <div class="box-body">
                                  <div class="form-group">
                                      <label for="conditionIsbn">ISBN</label>
                                      <input type="text" class="form-control" id="conditionIsbn" placeholder="12345678">
                                  </div>
                                  <div class="form-group">
                                      <label for="conditionBookName">書籍名</label>
                                      <input type="text" class="form-control" id="conditionBookName" placeholder="○×ビル">
                                  </div>
                                  <div class="form-group">
                                      <label for="conditionPublisher">出版社名</label>
                                      <input type="text" class="form-control" id="conditionPublisher" placeholder="○×ビル">
                                  </div>
                                  <div class="form-group">
                                      <label for="condtionAuthor">著者</label>
                                      <input type="text" class="form-control" id="condtionAuthor" placeholder="○×">
                                  </div>
                                  <div class="form-group">
                                      <label for="conditionBookType">種類</label>
                                      <label class="radio-inline">
                                        <input type="radio" name="bookType" id="conditionBookType1" value="option1"> 紙
                                      </label>
                                      <label class="radio-inline">
                                        <input type="radio" name="bookType" id="conditionBookType2" value="option2"> 電子
                                      </label>
                                  </div>
                                 <div class="form-group">
                                      <label for="place">保管場所</label>
                                      <select id="place">
                                          <option value="cheese">Cheese</option>
                                          <option value="tomatoes">Tomatoes</option>
                                          <option value="mozarella">Mozzarella</option>
                                          <option value="mushrooms">Mushrooms</option>
                                          <option value="pepperoni">Pepperoni</option>
                                          <option value="onions">Onions</option>
                                      </select>
                                  </div>
                                  <div class="form-group">
                                      <label for="conditionUser">利用者</label>
                                      <input type="text" class="form-control" id="conditionUser" placeholder="○×">
                                  </div>
                                  <div class="form-group">
                                      <label for="condition">返却予定日</label>
                                      <input type="text" class="form-control" id="conditionUser" placeholder="○×">
                                  </div>
                              </div><!-- /.box-body -->

                          </form>
                      </div><!-- /.box -->
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-success" id="btnExecSearch">検索</button>
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->