<div class="modal fade" id="modalUpload">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">アップロード</h4>
			</div>
			<div class="modal-body">
				<div id="drag-area"
					style="width: 100%; height: 300px; border: 1px dashed #777777; text-align: center; padding-top: 100px;">
					<p>アップロードするファイルをドロップ</p>
					<p>または</p>
					<div class="btn-group">
						<form id="fileForm" onsubmit="return false;">
							<input type="file" name="file" multiple="multiple"
								style="display: none" onchange="uploadFile()">
							<button id="file-select" class="btn btn-flat btn-primary">ファイルを選択</button>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left"
					data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	<script>
		// アップロードファイル選択時の処理
		$('#file-select').click(function() {
			// ダミーボタンとinput[type="file"]を連動
			$('input[type="file"]').click();
		});
		var uploadFile = function() {
			var file = new FormData($("#fileForm").get()[0]);
			upload(file);
		};
	
		//アップロードファイルドロップ時の処理
		$('#drag-area').on('drop', function(e) {
			// デフォルトの挙動を停止
			e.preventDefault();
	
			// ファイル情報を取得
			var files = e.originalEvent.dataTransfer.files;
	
			uploadFiles(files);
	
		}).on('dragenter', function() {
			// デフォルトの挙動を停止
			// $("#drag-area").css("background-color", "");
			return false;
		}).on('dragover', function() {
			// $("#drag-area").css("background-color","#3366EE");
			return false;
		});
		var uploadFiles = function (files) {
			// FormDataオブジェクトを用意
			var fd = new FormData();
	
			// ファイルの個数を取得
			var filesLength = files.length;
	
			// ファイル情報を追加
			for (var i = 0; i < filesLength; i++) {
				fd.append("files[]", files[i]);
			}
			upload(fd)
		}
	
		//アップロード処理 
		var upload = function(formdata){
			$.ajax({
				url : common.getAppRoot() + "/book/upload",
				method : "POST",
				data : formdata,
				processData : false,
				contentType : false,
				cache : false,
				success : function(data, status, jqXHR) {
					if (data['result'] == '0') {
						window.location.reload();
					} else {
						alert('Error!!');
					}
				},
				error : function(jqXHR, status, error) {
					alert('通信に失敗');
				}
			});
			$("#modalUpload").modal('hide');
		}
	</script>
</div><!-- /.modal -->
