@(message: String)

@main(message) {
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>アカウント設定</h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-primary">
      <div class="box-header"><h4>パスワード変更</h4></div>
      <div class="box-body">
        <p class="text-danger" id="errmsg"></p>
        <form class="form-horizontal" id="frmPassword">
          <div class="form-group">
            <label for="oldPass" class="col-sm-3 control-label">現在のパスワード <span class="label label-danger">必須</span></label>
            <div class="col-sm-4">
              <input type="password" class="form-control" name="oldPass">
              <p class="text-danger oldPass"></p>
            </div>
          </div>
          <div class="form-group">
            <label for="newPass" class="col-sm-3 control-label">新しいパスワード <span class="label label-danger">必須</span></label>
            <div class="col-sm-4">
              <input type="password" class="form-control" name="newPass">
              <p class="text-danger newPass"></p>
            </div>
          </div>
          <div class="form-group">
            <label for="newPassConfirm" class="col-sm-3 control-label">新しいパスワード（確認） <span class="label label-danger">必須</span></label>
            <div class="col-sm-4">
              <input type="password" class="form-control" name="newPassConfirm">
              <p class="text-danger newPassConfirm"></p>
            </div>
          </div>
        </form>
      </div>
      <div class="box-footer">
        <button type="button" class="btn btn-success" id="btnSavePassword"><i class="fa fa-save"></i> 保存</button>
      </div>
    </div>
</section><!-- /.content -->    
}{
<!-- Bootstrap 3.3.4 -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/bootstrap/css/bootstrap.min.css")" />
<!-- FontAwesome 4.3.0 -->
<link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<!-- Ionicons 2.0.0 -->
<link rel="stylesheet" media="screen" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<!-- Theme style -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/AdminLTE.min.css")" />
<!-- AdminLTE Skins. Choose a skin from the css/skins
	folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/skins/_all-skins.min.css")" />
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/common.css")" />
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/pnotify/pnotify.custom.min.css")" >
}{
<!-- jQuery UI 1.11.4 -->
<script src="@routes.Assets.at("plugins/plugins/jQuery/jQuery-2.1.4.min.js")" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<!-- Bootstrap 3.3.2 JS -->
<script src="@routes.Assets.at("plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="@routes.Assets.at("plugins/dist/js/app.min.js")" type="text/javascript"></script>
<!-- AdminLTE for demo purposes -->
<script src="@routes.Assets.at("plugins/dist/js/demo.js")" type="text/javascript"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/account.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("plugins/plugins/pnotify/pnotify.custom.min.js")"></script>
}
