@(message: String)

    @main(message) {

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <button type="button" class="btn btn-flat btn-primary" id="btnAdd"><i class="fa fa-send"></i>
                                申請</button>
                            <button type="button" class="btn btn-flat btn-danger" id="btnDelete"><i class="fa fa-trash"></i>
                                削除</button>
                            <div class="pull-right">
                                　<div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default btn-flat active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" value="0" checked> 申請中
                                </label>
                                <label class="btn btn-default btn-flat">
                                    <input type="radio" name="options" id="option2" autocomplete="off" value="1"> 承認済
                                </label>
                                <label class="btn btn-default btn-flat">
                                    <input type="radio" name="options" id="option3" autocomplete="off" value="2"> 却下済
                                </label>
                            </div>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">

                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr class="warning">
                                        <th>選択</th>
                                        <th>リクエストNo</th>
                                        <th>申請者</th>
                                        <th>申請日</th>
                                        <th>ISBN</th>
                                        <th>書籍名</th>
                                        <th style="min-width: 100px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*
                                @for(apply <- applyList) {
                                    <tr data-id=@apply.id>
                                        <td class="chkSelect" style="text-align: center"><input type="checkbox" name="chkSelect"></td>
                                        <td class="repuestNo" 　data-name="repuestNo">@apply.requestNo</td>
                                        <td class="user" data-name="user">@apply.applyUser</td>
                                        <td class="requestDate" data-name="requestDate">@apply.applyDate</td>
                                        <td class="isbn" data-name="isbn">@apply.isbn</td>
                                        <td class="bookName" data-name="bookName">@apply.bookName</td>
                                        <td>

                                            <button type="button" class="btn btn-link btnApproval">確認する</button>
                                        </td>
                                    </tr>
                                }
                                *@
                                </tbody>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section> <!-- /.content -->


            <!-- 申請フォーム -->
        <div class="modal fade" id="modalForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">申請</h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-primary">
                            <form role="form" class="form-horizontal">
                                <p class="text-danger"></p>
                                <div class="box-body">
                                    <input type="hidden" id="targetId" >
                                    <div class="form-group">
                                        <label for="isbn" class="col-sm-2 control-label">ISBN</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="isbn" placeholder="12345678">
                                            <p class="text-danger"></p>
                                        </div>
                                        <button type="button" class="btn btn-primary" id="btnAutoAcqire">自動取得</button>
                                    </div>
                                    <div class="form-group">
                                        <label for="isbn" class="col-sm-2 control-label">書籍名</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="bookName" placeholder="書籍名">
                                            <p class="text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="bookType" class="col-sm-2 control-label">電子書籍</label>
                                        <div class="col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="bookType" id="bookType">
                                                </label>
                                                <p class="text-danger"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="price" class="col-sm-2 control-label">金額</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="price">
                                            <p class="text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="form-group amount">
                                        <label for="license" class="col-sm-2 control-label">数量</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="volume">
                                            <p class="text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="bookType" class="col-sm-2 control-label">購入者</label>
                                        <div class="col-sm-10">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="buyer" value="1">会社                
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="buyer" value="2">個人
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group url">
                                        <label for="url" class="col-sm-2 control-label">購入先URL</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="url" placeholder="http://xxxxxxxxx">
                                            <p class="text-warning">※会社で購入する場合は、AmazonのURLを入力してください。</p>
                                            <p class="text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="form-group reason">
                                        <label for="reason" class="col-sm-2 control-label">理由</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="reason">
                                            <p class="text-danger"></p>
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->
                            </form>
                        </div><!-- /.box -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="btnSave" onclick="applyInsert()">申請</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div> <!-- /.modal -->

            <!-- 申請フォーム -->
        <div class="modal fade" id="modalApply">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">承認</h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-primary">
                            <form role="form" class="form-horizontal">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="isbn" class="col-sm-2 control-label">ISBN</label>
                                        <div class="col-sm-10 form-control-static" data-name="isbn"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="bookName" class="col-sm-2 control-label">書籍名</label>
                                        <div class="col-sm-10 form-control-static" data-name="bookName"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="bookType" class="col-sm-2 control-label">種類</label>
                                        <div class="col-sm-10 form-control-static" data-name="type"></div>
                                    </div>

                                    <div class="form-group">
                                        <label for="price" class="col-sm-2 control-label">金額</label>
                                        <div class="col-sm-10 form-control-static" data-name="price"></div>
                                    </div>
                                    <div class="form-group amount">
                                        <label for="license" class="col-sm-2 control-label">数量</label>
                                        <div class="col-sm-10 form-control-static" data-name="volume">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="buyer" class="col-sm-2 control-label">購入者</label>
                                        <div class="col-sm-10 form-control-static" data-name="buyer"></div>
                                    </div>
                                    <div class="form-group url">
                                        <label for="url" class="col-sm-2 control-label">URL</label>
                                        <div class="col-sm-10 form-control-static" data-name="url"></div>
                                    </div>
                                    <div class="form-group reason">
                                        <label for="reason" class="col-sm-2 control-label">理由</label>
                                        <div class="col-sm-10 form-control-static" data-name="reason"></div>
                                    </div>
                                </div><!-- /.box-body -->
                            </form>
                        </div><!-- /.box -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                        <button type="button" class="btn btn-success" id="btnApproval">承認</button>
                        <button type="button" class="btn btn-warning" id="btnReject">取下</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div> <!-- /.modal -->
        } {
        <!-- Bootstrap 3.3.4 -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/bootstrap/css/bootstrap.min.css")" />
            <!-- FontAwesome 4.3.0 -->
        <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
            <!-- Ionicons 2.0.0 -->
        <link rel="stylesheet" media="screen" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
            <!-- Theme style -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/AdminLTE.min.css")" />
            <!-- AdminLTE Skins. Choose a skin from the css/skins
	folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/skins/_all-skins.min.css")" />
            <!-- Date Picker -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/datepicker/datepicker3.css")" />
            <!-- Daterange picker -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/daterangepicker/daterangepicker-bs3.css")" />
            <!-- DATA TABLES -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/datatables/dataTables.bootstrap.css")" />
            <!-- bootstrap multiselect -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/bootstrap-multiselect/bootstrap-multiselect.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/common.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/pnotify/pnotify.custom.min.css")" >
    } {
            <!-- jQuery UI 1.11.4 -->
        <script src="@routes.Assets.at("plugins/plugins/jQuery/jQuery-2.1.4.min.js")" type="text/javascript"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
            <!-- Bootstrap 3.3.2 JS -->
        <script src="@routes.Assets.at("plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
            <!-- DATA TABES SCRIPT -->
        <script src="@routes.Assets.at("plugins/plugins/datatables/jquery.dataTables.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("plugins/plugins/datatables/dataTables.bootstrap.min.js")" type="text/javascript"></script>
            <!-- bootstrap multiselect -->
        <script src="@routes.Assets.at("plugins/plugins/bootstrap-multiselect/bootstrap-multiselect.js")" type="text/javascript"></script>
            <!-- tag-it -->
        <script src="@routes.Assets.at("plugins/plugins/tag-it/tag-it.min.js")" type="text/javascript"></script>
            <!-- AdminLTE App -->
        <script src="@routes.Assets.at("plugins/dist/js/app.min.js")" type="text/javascript"></script>
            <!-- AdminLTE for demo purposes -->
        <script src="@routes.Assets.at("plugins/dist/js/demo.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.at("plugins/plugins/pnotify/pnotify.custom.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/common.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/apply.js")"></script>
    }
