@(bookItemList:List[models.response.BookItem],optMap:Map[String,Object],shelfItemList:List[models.response.ShelfItem])

@import play.mvc.Http.Context.Implicit._

@main("貸出管理") {
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header">
					<div class="pull-left">
						<div calss="form-group">
							@if(session.get("authority") == "0"){
								<select id = "selectAction" class="form-control">
									<option>---選択してください---</option>
									<option id="btnAdd">追加</option>
									<option id="btnEdit" disabled="disabled">編集</option>
									<option id="btnDelete" disabled="disabled">削除</option>
									<option id="btnHistory" disabled="disabled">履歴</option>
									<option id="btnDownload">ダウンロード</option>
									<option id="btnUpload">アップロード</option>
								</select>
							}
						</div>
					</div>
					<div class="pull-right">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-default btn-flat active">
								<input type="radio" name="options" id="option1" value="0" autocomplete="off" checked> 全て
							</label>
							<label class="btn btn-default btn-flat">
								<input type="radio" name="options" id="option2" value="1" autocomplete="off"> 貸出可能
							</label>
							<label class="btn btn-default btn-flat">
								<input type="radio" name="options" id="option3" value="2" autocomplete="off"> 貸出中
							</label>
						</div>
					</div>
				</div><!-- /.box-header -->
				<div class="box-body">
					<table id="example1" class="table table-bordered table-striped">
						<thead>
							<tr class="warning">
								<th>書籍名</th>
								<th>貸出日</th>
								<th>返却予定日</th>
								<th>利用者</th>
								<th>場所/機器</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@for(bookItem <- bookItemList){
								<tr data-id="@bookItem.id">
									<td class="bookName" data-name="@bookItem.name" data-recommend="@bookItem.recommend" data-toggle="popover">
										<span>
											@if(bookItem.url == null || bookItem.url == ""){
												@bookItem.name
											}else{
												<a href="@bookItem.url" target="_blank">
													@bookItem.name <i class="fa fa-external-link"></i>
												</a>
											}
										</span>
										@if(bookItem.recommend == "1"){
											<span class="label label-warning">オススメ</span>
										}
										<div class="detail hide">
											<div class="isbn">@bookItem.isbn</div>
											<div class="publisher">@bookItem.publisher</div>
											<div class="author">@bookItem.author</div>
										</div>
									</td>
									<td class="lendDate">@bookItem.rentalDate</td>
									<td class="returnPlanDate">@bookItem.returnPlanDate</td>
									<td class="user" data-id="@bookItem.rentalUserId">@bookItem.userName</td>
									<td class="place" data-id="@bookItem.shelfId" data-kind="@bookItem.bookType">@bookItem.shelfName</td>
									<td class="status">
										@if(bookItem.shelfId != null ){
											@if(bookItem.rentalDate == "" || bookItem.rentalDate == null){
											<button type="button" class="btn btn-flat btn-success btnLend">貸出</button>
											}else {
												@if(bookItem.rentalUserId == optMap("userId")){
													<button type="button" class="btn btn-flat btn-warning btnReturn" data-id="@bookItem.rentalId">返却</button>
												}else{
													<span class="label label-default on-loan">貸出中</span>
												}
											}
										}
									</td>
								</tr>
							}
						</tbody>
					</table>
					<select id="tmpShelfList" hidden style="font-family: 'FontAwesome';">
						@for(shelfItem <- shelfItemList){
							<option value="@shelfItem.id">@shelfItem.name</option>
						}
					</select>
					<div id="detailTemplate" class="hide">
						<table class="table table-bordered table-condensed">
							<tr>
								<td>ISBN</td>
								<td class="isbn"></td>
							</tr>
							<tr>
								<td>出版社</td>
								<td class="publisher"></td>
							</tr>
							<tr>
								<td>著者</td>
								<td class="author"></td>
							</tr>
						</table>
					</div>
					<div id="cloneBook" hidden>
						<table>
							<tbody>
								<tr data-id="">
									<td class="bookName" data-name="" data-recommend="" data-toggle="popover">
										<span>
											<a href="" target="_blank">
												<i class="fa fa-external-link"></i>
											</a>
										</span>
										<span class="label label-warning hide">オススメ</span>
										<div class="detail hide">
											<div class="isbn"></div>
											<div class="publisher"></div>
											<div class="author"></div>
										</div>
									</td>
									<td class="lendDate"></td>
									<td class="returnPlanDate"></td>
									<td class="user" data-id=""></td>
									<td class="place" data-id="" data-kind=""></td>
									<td class="status">
										<button type="button" class="btn btn-flat btn-success btnLend">貸出</button>
										<button type="button" class="hide btn btn-flat btn-warning btnReturn" data-id="">返却</button>
										<span class=" hide label label-default on-loan">貸出中</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div><!-- /.col -->
	</div><!-- /.row -->
</section><!-- /.content -->
}{
<!-- Bootstrap 3.3.4 -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/bootstrap/css/bootstrap.min.css")" />
<!-- FontAwesome 4.3.0 -->
<link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<!-- Ionicons 2.0.0 -->
<link rel="stylesheet" media="screen" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<!-- Theme style -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/AdminLTE.min.css")" />
<!-- AdminLTE Skins. Choose a skin from the css/skins
	folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/skins/_all-skins.min.css")" />
<!-- Date Picker -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/datetimepicker/jquery.datetimepicker.css")" />
<!-- Daterange picker -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/daterangepicker/daterangepicker-bs3.css")" />
<!-- DATA TABLES -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/datatables/dataTables.bootstrap.css")" />
<!-- bootstrap multiselect -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/bootstrap-multiselect/bootstrap-multiselect.css")" />
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/common.css")" />
<!-- tag-it -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/tag-it/jquery.tagit.css")" />
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/tag-it/tagit.ui-zendesk.css")" />
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/pnotify/pnotify.custom.min.css")" >
}{
<!-- jQuery UI 1.11.4 -->
<script src="@routes.Assets.at("plugins/plugins/jQuery/jQuery-2.1.4.min.js")" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<!-- Bootstrap 3.3.2 JS -->
<script src="@routes.Assets.at("plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
<!-- DATA TABES SCRIPT -->
<script src="@routes.Assets.at("plugins/plugins/datatables/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("plugins/plugins/datatables/dataTables.bootstrap.min.js")" type="text/javascript"></script>
<!-- bootstrap multiselect -->
<script src="@routes.Assets.at("plugins/plugins/bootstrap-multiselect/bootstrap-multiselect.js")" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="@routes.Assets.at("plugins/dist/js/app.min.js")" type="text/javascript"></script>
<!-- AdminLTE for demo purposes -->
<script src="@routes.Assets.at("plugins/dist/js/demo.js")" type="text/javascript"></script>
<script type="text/javascript" src="@routes.Assets.at("plugins/plugins/pnotify/pnotify.custom.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/book.js")"></script>
<!-- tag-it -->
<script type="text/javascript" src="@routes.Assets.at("plugins/plugins/tag-it/tag-it.min.js")"></script>
<!-- Date Picker -->
<script type="text/javascript" src="@routes.Assets.at("plugins/plugins/datetimepicker/jquery.datetimepicker.full.min.js")"></script>
}