@(optMap :Map[String,String],rankList:List[com.avaje.ebean.SqlRow])

@main("ダッシュボード") {
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"><span class="label label-primary">お知らせ</span></h3>
			</div><!-- /.box-header -->
			<div class="box-body">
				<div style="white-space: pre;">@optMap("announce")</div>
			</div><!-- /.box-body -->
		</div><!-- /.box -->
		</div>
	</div>

	<div class="row">
	@if(optMap("notification") != ""){
		<div class="col-xs-6">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title"><span class="label label-danger">通知</span></h3>
				</div><!-- /.box-header -->
				<div class="box-body">
					<div style="white-space: pre;">@optMap("notification")</div>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	}
	    <div class="col-xs-6">
			<div class="box box-success">
				<div class="box-header with-border">
					<h3 class="box-title"><span class="label label-success">新着</span></h3>
				</div><!-- /.box-header -->
				<div class="box-body">
					<div style="white-space: pre;">@optMap("newarrival")</div>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-6">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title"><span class="label label-info">貸出ランキング</span></h3>
				</div><!-- /.box-header -->
				<div class="box-body">
					<table class="table">
						<thead>
						<tr>
							<th>順位</th>
							<th>書籍名</th>
							<th>回数</th>
						</tr>
						</thead>
						<tbody>
						@for((rank,i) <- rankList.zipWithIndex){
							<tr>
								<td>@(i+1)</td>
								<td>@rank.getString("bookName")</td>
								<td>@rank.getInteger("rentalCount")</td>
							</tr>
						}
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>

</section><!-- /.content -->
}{
<!-- Bootstrap 3.3.4 -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/bootstrap/css/bootstrap.min.css")" />
<!-- FontAwesome 4.3.0 -->
<link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<!-- Ionicons 2.0.0 -->
<link rel="stylesheet" media="screen" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<!-- Theme style -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/AdminLTE.min.css")" />
<!-- AdminLTE Skins. Choose a skin from the css/skins
	folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/skins/_all-skins.min.css")" />
<!-- Date Picker -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/datetimepicker/jquery.datetimepicker.css")" />
<!-- Daterange picker -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/daterangepicker/daterangepicker-bs3.css")" />
<!-- DATA TABLES -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/datatables/dataTables.bootstrap.css")" />
<!-- bootstrap multiselect -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/bootstrap-multiselect/bootstrap-multiselect.css")" />
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/common.css")" />
<!-- tag-it -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/tag-it/jquery.tagit.css")" />
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/tag-it/tagit.ui-zendesk.css")" />
}{
<!-- jQuery UI 1.11.4 -->
<script src="@routes.Assets.at("plugins/plugins/jQuery/jQuery-2.1.4.min.js")" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<!-- Bootstrap 3.3.2 JS -->
<script src="@routes.Assets.at("plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
<!-- DATA TABES SCRIPT -->
<script src="@routes.Assets.at("plugins/plugins/datatables/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("plugins/plugins/datatables/dataTables.bootstrap.min.js")" type="text/javascript"></script>
<!-- bootstrap multiselect -->
<script src="@routes.Assets.at("plugins/plugins/bootstrap-multiselect/bootstrap-multiselect.js")" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="@routes.Assets.at("plugins/dist/js/app.min.js")" type="text/javascript"></script>
<!-- AdminLTE for demo purposes -->
<script src="@routes.Assets.at("plugins/dist/js/demo.js")" type="text/javascript"></script>
<!-- tag-it -->
<script type="text/javascript" src="@routes.Assets.at("plugins/plugins/tag-it/tag-it.min.js")"></script>
<!-- Date Picker -->
<script type="text/javascript" src="@routes.Assets.at("plugins/plugins/datetimepicker/jquery.datetimepicker.full.min.js")"></script>
}