@(group:models.entity.Group)

@import play.mvc.Http.Context.Implicit._

@main("グループ管理") {
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-body">
				<input type="hidden" name="index" >
				<input type="hidden" id="groupId" value=@group.id>
					<!-- form start -->
					<form id="form" role="form" class="form-horizontal">
						<div class="box-body">
							<div class="form-group">
								<label for="groupName" class="col-sm-2 control-label">グループ名 <span class="label label-danger">必須</span></label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="groupName" value=@group.name>
								</div>
							</div>
							<div class="form-group">
								<label for="announce" class="col-sm-2 control-label">お知らせ</label>
								<div class="col-sm-10">
									<textarea class="form-control" id="announce">@group.anounce</textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="place" class="col-sm-2 control-label">保管場所</label>
								<div class="col-sm-4" id="shelfArea">
								  @for(shelfList <- group.shelfList){
								    <div class="input-group" style="margin-bottom:5px;">
								      <input type="text" class="form-control" name="shelf" value="@shelfList.name" data-id="@shelfList.id">
								      <span class="input-group-btn">
								        <button type="button" class="btn btn-danger btnShelfRemove">削除</button>
                      </span>
								    </div>
								  }
								  <button type="button" id="btnShelfAdd" class="btn btn-flat btn-primary btn-sm"><i class="fa fa-plus"></i> 追加</button>
								</div>
								
							</div>
							
							
							<div class="form-group">
								<label for="newArrivalSpan" class="col-sm-2 control-label">新着表示日数</label>
								<div class="col-sm-4">
									<input type="number" class="form-control" id="newArrivalSpan" value=@group.newArrivalSpan>
								</div>
							</div>
							<div class="form-group">
								<label for="url" class="col-sm-2 control-label">URL</label>
								<div class="col-sm-10">
									<p id="loginUrl" class="form-control-static"></p>
<script>
	var loginUrl = location.protocol + "//" + location.host + "/syoseki/login?token=@session.get("token")";
	document.getElementById("loginUrl").innerHTML = loginUrl;
</script>
								</div>
							</div>
						</div><!-- /.box-body -->
					</form>
				</div><!-- /.box-body -->
				<div class="box-footer">
					<button type="button" class="btn btn-success btn-flat  pull-right" id="btnSave">
						<i class="fa fa-save"></i> 保存
					</button>
				</div>
			</div><!-- /.box -->
		</div>
	</div>
</section>
}{
<!-- Bootstrap 3.3.4 -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/bootstrap/css/bootstrap.min.css")" />
<!-- FontAwesome 4.3.0 -->
<link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<!-- Ionicons 2.0.0 -->
<link rel="stylesheet" media="screen" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<!-- Theme style -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/AdminLTE.min.css")" />
<!-- AdminLTE Skins. Choose a skin from the css/skins
	folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/skins/_all-skins.min.css")" />
<!-- Date Picker -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/datepicker/datepicker3.css")" />
<!-- Daterange picker -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/daterangepicker/daterangepicker-bs3.css")" />
<!-- DATA TABLES -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/datatables/dataTables.bootstrap.css")" />
<!-- bootstrap multiselect -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/bootstrap-multiselect/bootstrap-multiselect.css")" />
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/common.css")" />
<!-- tag-it -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/tag-it/jquery.tagit.css")" />
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/tag-it/tagit.ui-zendesk.css")" />
<!-- pnotify -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/pnotify/pnotify.custom.min.css")" >
}{
<!-- jQuery UI 1.11.4 -->
<script src="@routes.Assets.at("plugins/plugins/jQuery/jQuery-2.1.4.min.js")" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<!-- Bootstrap 3.3.2 JS -->
<script src="@routes.Assets.at("plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
<!-- DATA TABES SCRIPT -->
<script src="@routes.Assets.at("plugins/plugins/datatables/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("plugins/plugins/datatables/dataTables.bootstrap.min.js")" type="text/javascript"></script>
<!-- bootstrap multiselect -->
<script src="@routes.Assets.at("plugins/plugins/bootstrap-multiselect/bootstrap-multiselect.js")" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="@routes.Assets.at("plugins/dist/js/app.min.js")" type="text/javascript"></script>
<!-- AdminLTE for demo purposes -->
<script src="@routes.Assets.at("plugins/dist/js/demo.js")" type="text/javascript"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/common.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/group.js")"></script>
<!-- tag-it -->
<script type="text/javascript" src="@routes.Assets.at("plugins/plugins/tag-it/tag-it.min.js")"></script>

<script type="text/javascript" src="@routes.Assets.at("plugins/plugins/pnotify/pnotify.custom.min.js")"></script>
}