@(message: String,userForm:Form[models.form.UserForm])
@import play.mvc.Http.Context.Implicit._

@main(message) {
	<section class="content-header">
		<h1>ユーザ管理</h1>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
					<div class="box-header">
						<div class="pull-left">
							<div calss="form-group">
								<select id="selectAction" class="form-control">
									<option>---選択してください---</option>
									<option id="btnAdd">追加</option>
									<option id="btnEdit" disabled="disabled">編集</option>
									<option id="btnDelete" disabled="disabled">削除</option>
									<option id="btnDownload">ダウンロード</option>
									<option id="btnOpenUpload">アップロード</option>
								</select>
							</div>
						</div>
						<!-- ユーザ一括登録(オプション) -->
						@if(session.get("collectflg") == "true"){
							<div class="pull-right">
								<button type="button" id="btnCollectUpload" class="btn btn-flat btn-info">一括更新</button>
							</div>
						}
					</div><!-- /.box-header -->
					<div class="box-body">
						<table id="example1" class="table table-bordered table-striped user-table">
							<thead>
								<tr class="warning">
									<th>氏名</th>
									<th>メールアドレス</th>
									<th>権限</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
							<tfoot>
								<tr class="warning">
									<th>氏名</th>
									<th>メールアドレス</th>
									<th>権限</th>
								</tr>
							</tfoot>
						</table>
						<table id="template" class="hide">
							<tbody>
								<tr data-id="">
									<td class="userName"></td>
									<td class="mail"></td>
									<td class="authority"></td>
								</tr>
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</section><!-- /.content -->

	<div class="modal fade" id="modalEditForm">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">ユーザ登録</h4>
				</div>
				<div class="modal-body">
					<div class="box box-primary">
						<!-- form start -->
						<form role="form" class="form-horizontal" id="frmEdit">
							<div class="box-body">
								<div class="form-group">
									<label for="userName" class="col-sm-4 control-label">氏名</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="editUserName" name="name">
										<p class="text-danger name"></p>
									</div>
								</div>
								<div class="form-group">
									<label for="mail" class="col-sm-4 control-label">メールアドレス</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="editMail" placeholder="abc@@def.co.jp" name="mailaddress">
										<p class="text-danger mailaddress"></p>
									</div>
								</div>
								<div class="form-group">
									<label for="password" class="col-sm-4 control-label">パスワード</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="editPassword" name="password">
										<p class="text-danger password"></p>
									</div>
								</div>
								<div class="form-group">
									<label for="authority" class="col-sm-4 control-label">権限</label>
									<div class="col-sm-8">
										<label class="radio-inline">
											<input type="radio" name="authority" id="editAuthority1" value="0"> 管理者
										</label>
										<label class="radio-inline">
											<input type="radio" name="authority" id="editAuthority2" value="1"> 利用者
										</label>
									</div>
								</div>
							</div><!-- /.box-body -->
							<input type="hidden" name="id" value="">
						</form>
					</div><!-- /.box -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success" id="btnEditSave">保存</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
}{
<!-- Bootstrap 3.3.4 -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/bootstrap/css/bootstrap.min.css")" />
<!-- FontAwesome 4.3.0 -->
<link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<!-- Ionicons 2.0.0 -->
<link rel="stylesheet" media="screen" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<!-- Theme style -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/AdminLTE.min.css")" />
<!-- AdminLTE Skins. Choose a skin from the css/skins
	folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/skins/_all-skins.min.css")" />
<!-- Date Picker -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/datepicker/datepicker3.css")" />
<!-- Daterange picker -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/daterangepicker/daterangepicker-bs3.css")" />
<!-- DATA TABLES -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/datatables/dataTables.bootstrap.css")" />
<!-- bootstrap multiselect -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/bootstrap-multiselect/bootstrap-multiselect.css")" />
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/dist/css/common.css")" />
<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/plugins/pnotify/pnotify.custom.min.css")" >
}{
<!-- jQuery UI 1.11.4 -->
<script src="@routes.Assets.at("plugins/plugins/jQuery/jQuery-2.1.4.min.js")" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<!-- Bootstrap 3.3.2 JS -->
<script src="@routes.Assets.at("plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
<!-- DATA TABES SCRIPT -->
<script src="@routes.Assets.at("plugins/plugins/datatables/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("plugins/plugins/datatables/dataTables.bootstrap.min.js")" type="text/javascript"></script>
<!-- bootstrap multiselect -->
<script src="@routes.Assets.at("plugins/plugins/bootstrap-multiselect/bootstrap-multiselect.js")" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="@routes.Assets.at("plugins/dist/js/app.min.js")" type="text/javascript"></script>
<!-- AdminLTE for demo purposes -->
<script src="@routes.Assets.at("plugins/dist/js/demo.js")" type="text/javascript"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.json.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.deserialize.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("plugins/plugins/pnotify/pnotify.custom.min.js")"></script>	
<script type="text/javascript" src="@routes.Assets.at("javascripts/common.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/user.js")"></script>	
}
